@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;700&display=swap');

$box-shadow-color: #899ebe;
$hero-background-color: #e4e9f0;
$nav-background-color: #bbc6d7;
$nav-link-hover-text-color: white;
$text-color: #3a557c;

* {
  box-sizing: border-box;
  cursor: default;
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}

.App {
  color: $text-color;
  font-family: Jura, sans-serif;
  height: 100%;
  position: relative;
}

.Nav {
  align-items: center;
  box-shadow: 0 4px 4px $box-shadow-color;
  background-color: $nav-background-color;
  display: flex;
  height: 8vmin;
  justify-content: space-between;
  left: 0;
  padding: 0.5vmin 3vmin 0.5vmin 5vmin;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  
  .nav-name {
    color: $box-shadow-color;
    cursor: pointer;
    font-family: Jura;
    font-size: 3.75vmin;
    padding-bottom: 0.5vmin;
    transition: 0.2s ease-in-out;

    &:hover {
      color: $text-color;
    }
  }

  .nav-links {
    display: flex;

    .nav-link {
      border-radius: 4px;
      cursor: pointer;
      display: inline-block;
      font-size: 2.5vmin;
      font-weight: bold;
      padding: 0.75vmin 0;
      text-align: center;
      transition: 0.2s ease-in-out;
      width: 14vmin;

      &:hover {
        background-color: $box-shadow-color;
        color: $nav-link-hover-text-color;
      }
    }
  }
}

.Home {
  .home-hero {
    align-items: center;
    background-color: $hero-background-color;
    display: flex;
    flex-direction: column;
    font-family: Jura;
    justify-content: center;
    height: 75vh;
    overflow: hidden;
    padding-top: 3vmin;
    position: relative;

    img {
      left: 0;
      opacity: 0.2;
      position: absolute;
      width: 100%;
    }

    .home-name {
      font-size: 8vmin;
      font-weight: bold;
      margin-bottom: 3vmin;
    }

    .home-role {
      font-size: 3vmin;
    }
  }
}

.Footer {
  align-items: center;
  background-color: $text-color;
  color: $nav-background-color;
  display: flex;
  flex-direction: column;
  font-size: 1.75vmin;
  height: 16vmin;
  justify-content: center;
}
